body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav {
    display: flex;
    justify-content: center;
}

.menu-item {
    margin: 0 15px;
}

.menu-item a {
    text-decoration: none;
    color: #fff;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #3498db;
    padding: 10px;
    border-radius: 0 0 5px 5px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

main {
    padding: 20px;
    text-align: center;
}

.aussies {
    width: 100%;
    height: auto;
}

footer {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
