.description 
{
    background-color: rgb(95, 3, 1), 113, 111;
    color: #bfc1cd;
    text-align: center;
    padding: 20px;
    border-style: solid;
    border-width: 15px;
    border-color: rgb(75, 1, 1)
}